@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 14px;
}

.card{
    @apply bg-blue-600 h-48 flex-1 rounded-lg relative overflow-hidden;
}
.card::before{
    content: '';
    @apply bg-indigo-800 h-64 w-1/2 absolute rounded-r-full;
}
.card::after{
    content: '';
    @apply bg-cyan-300 h-32 w-32 absolute -right-8 -top-8 rounded-full;
}
.content{
    @apply relative;
}

.header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
